<!-- src/app/pages/signup/signup.component.html -->
<app-default-login-layout
  title="Crie já a sua conta"
  primaryBtnText="Criar Conta"
  secondaryBtnText="Já tem uma conta? Faça login"
  (submit)="onSubmit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!signupForm.valid"
>
  <form [formGroup]="signupForm">
    <app-primary-input
      formControlName="name"
      inputName="name"
      type="text"
      placeholder="Your Name"
      label="Name"
    >
      <i class="fas fa-user"></i>
    </app-primary-input>

    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      placeholder="example@email.com"
      label="Email"
    >
      <i class="fas fa-envelope"></i>
    </app-primary-input>

    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      placeholder="Sua senha"
      label="Senha"
    >
      <i class="fas fa-key"></i>
    </app-primary-input>

    <app-primary-input
      formControlName="confirmPassword" 
      inputName="confirmPassword"
      type="password"
      placeholder="Confirme sua senha"
      label="Confirme sua Senha"
    >
      <i class="fas fa-key"></i>
    </app-primary-input>

    <span>Forgot your password?</span>
    <!-- Se quiser: mensagem de erro de confirmação -->
    <div *ngIf="signupForm.touched && signupForm.hasError('passwordsDontMatch')" class="text-red-600 text-sm mt-2">
      As senhas não conferem.
    </div>
  </form>
</app-default-login-layout>
