<main>
  <section class="form-section">
    <img class="urbanPassLogo" src="/assets/svg/urbanPassLogo.png" />
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <button
        [disabled]="disablePrimaryBtn"
        class="btn-primary"
        (click)="submit()"
      >
        {{ primaryBtnText }}
      </button>
      <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
      </div>
      <button class="btn-secondary" (click)="navigate()">
        {{ secondaryBtnText }}
      </button>
    </div>
  </section>
  <section class="main-section">
    <h2>You Should, UrbanPass!</h2>
    <!-- ilustração principal / main ilustration -->
    <img src="/assets/svg/imagemFundoUrbanPass.png" />
  </section>
</main>
