<app-default-login-layout
  title="Acesse sua conta"
  primaryBtnText="Entrar"
  secondaryBtnText="Criar conta"
  (submit)="onSubmit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="loginForm.invalid"
>
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      placeholder="example@email.com"
      label="Email"
    >
      <i class="fas fa-envelope"></i>
    </app-primary-input>


    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      placeholder="sua senha"
      label="Senha"
    >
    <i class="fas fa-key"></i>
    </app-primary-input>
  </form>
</app-default-login-layout>
