<div class="layout">
      
      <aside class="sidebar">
        <div class="brand">UrbanPass</div>
        <nav>
          <a class="item" [class.active]="isActive('/dashboard/cards')" (click)="navigateTo('/dashboard/cards')">
            Meus cartões
          </a>
          <a class="item" [class.active]="isActive('/dashboard/profile')" (click)="navigateTo('/dashboard/profile')">
            Meus dados
          </a>
          <a 
            *ngIf="isAdmin"
            class="item" 
            [class.active]="isActive('/dashboard/users')" 
            (click)="navigateTo('/dashboard/users')">
            Lista de Usuários
          </a>
          
          <a class="item" (click)="logout()">Sair</a>
        </nav>
      </aside>
      <main class="content">
        <router-outlet />
      </main>
    </div>